<div class="messagerie">
  <header>
    <div class="ico">
      <img src="../../assets/img/chat.svg" alt="">
    </div>
    <div class="titre">
      Messages (12)
    </div>
  </header>

  <section class="messages">
    <div class="container-messages"></div>
  </section>

  <div class="emojis"></div>
  
  <footer>
    <div class="answers">
      <div class="left btn-emoji">
        <img src="../../assets/img/smile.svg" alt="">
      </div>
      <div class="answer-box">
        <div class="message" contenteditable="true"></div>
      </div>
      <div class="right send-message">
        <img src="../../assets/Cartes/autres/send.svg" alt="">
      </div>
    </div>
  </footer>

</div>