<div class="messagerie">
  <header>
    <div class="ico">
      <img src="../../assets/img/chat.svg" alt="">
    </div>
    <div class="titre">
      Messages (12)
    </div>
  </header>

  <section class="messages">
    <div class="container-messages">

      <div class="message receive" style="border-top-color: red">
        <h3 style="color: red;" class="name">Willy</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, asperiores?</p>
        <h6 class="time">12:21</h6>
      </div>
      
      <div class="message receive" style="border-top-color: blueviolet">
        <h3 style="color: blueviolet;" class="name">Camille</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, asperiores?</p>
        <h6 class="time">12:21</h6>
      </div>

      <div class="message sent" style="border-top-color: blueviolet">
        <h3 style="color: blueviolet;" class="name">Camille</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, asperiores?</p>
        <h6 class="time">12:21</h6>
      </div>
      
  </div>
    <div class="emojis"></div>
  </section>

  
  <footer>
    <div class="answers">
      <div class="left btn-emoji">
        <img src="../../assets/img/smile.svg" alt="">
      </div>
      <div class="answer-box">
        <div class="message-write" contenteditable="true"></div>
      </div>
      <div class="right send-message">
        <img src="../../assets/Cartes/autres/send.svg" alt="">
      </div>
    </div>
  </footer>

</div>