.messagerie{
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
}

header{
    background: whitesmoke;
    height: 12%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
header .ico{
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2.3rem;
    padding-top: 0.5rem;
}
header .ico img{
    width: 80%;
}


footer{
    width: 100%;
    background: green;
    height: 13%;
    overflow: hidden;
    font-family: "Lato";
    color: #333;
}

footer .answers{
    background: #E0E0E0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    box-sizing: border-box;
    height: 100%;
}

footer .answers .answer-box{
    width: 80%;
    margin: 0 1rem;
    overflow: hidden;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10rem;
    background: white;
    box-sizing: border-box;
    font-weight: 700;
}
footer .answers img{
    width: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
footer .answers img:active{
    transform: scale(0.9);
}
section{    
    height: 75%; 
    background: url("../../assets/Cartes/autres/pattern.png");
    background-size: contain;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}  
section::after{
    content: "";
    display: inline-block;
    background: #ffffffa0;
    width: 100%;    
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: .4rem;
}


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    width: .8rem;
  }

/*END SCROLLBAR */

.messages .container-messages{
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 1rem;
    box-sizing: border-box;
    font-family: 'Baumans';
}
.messages .container-messages .message{
    box-sizing: border-box;
    min-width: 10%;
    background: #F7F7F7;
    padding: 0.4rem;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 2px 3px #999;
    border-top: 3px solid;
    margin-bottom: 1rem;
}
.messages .container-messages .message .name{
    font-size: 0.8rem;
}
.messages .container-messages .message p{
    color: #333;
    font-size: 0.8rem;
    margin: 0.6rem 0;
    word-wrap: break-word;
    font-family: 'Lato';
    font-weight: 700;
}
.messages .container-messages .message .time{
    color: #777;
    text-align: right;
}

.messages .container-messages .message.sent{
    box-sizing: border-box;
    min-width: 10%;
    background: #B6FFB4;
    padding: 0.4rem;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0px 2px 3px #999;
    border-top: 0px solid;
    margin-bottom: 1rem;
}
.messages .container-messages .message.sent .name{
    display: none;
}
.messages .emojis{
    position: absolute;
    background: blue;
    width: 100%;
    height: 0%;
    z-index: 10;
}