<div class="containerA">
  <header>
    <div class="nav_main"> 
      <div class="about_us">About Us</div> 
    </div>
  </header>
  <section>
    <div class="nav-menu">
        <div class="nav-title"> Cartes</div>
        <div class="list-group">
         
          <a routerLink="./home/solo" class="list-item" >
            <div class="icons">
              <img src="assets/Icons/png/man-user.png" alt="solo-icon">
            </div>
            <div class="title_solo"> Solo</div>
          </a>
              
          <a routerLink="./home/multijoueurs" class="list-item " style="background: #C037C0">
            <div class="icons">
              <img src="assets/Icons/png/Groups.png" alt="group-icon">
            </div>
            <div class="title-multijoueur"> Multijoueurs</div>
          </a>
          <div class="list-item"  style="background: #38ABFF">
            <div class="icons">
              <img src="assets/Icons/png/settings1.png" alt="settings-icon">
            </div>
            <div class="title-setting">Paramètres</div>
          </div>
        </div>
      </div>
  </section>
  <footer>
      <div class="bar"></div>
      <div class="copyright">
        <span>

          Copyright 2019 &copy; All Rights Reserved | <a href="http://djopa.fr" target="_blank">Tchat'At Inc</a>.
        </span>
      </div>
  </footer>
</div>